<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if content_for? :head %>
  <%= yield :head %>
<% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8"><title>Celfonica | Front end Dev </title>
    <meta content="Front-end Dev" name="description">
    <meta content="Front-end Dev" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport"><meta content="Webflow" name="generator">

    <link href="../assets/homestyle.css" media="screen" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  </head>




    <%= yield %>

</html>
